*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li{
    font-size: 20px;
}


ul li:first-child{
    color: purple;
    font-weight: bold;
}

ul li:nth-child(2){
    color: orange;
    font-weight: bold;
}